<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.facialrecognitionapp.mobilecomputing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Food Coloring"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.foodrecognitionapp.mobilecomputing.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.foodrecognitionapp.mobilecomputing.FoodScan"
            android:label="@string/title_activity_face_scan" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
    </application>

</manifest>
